
/*#region Palette colori */

/* Palette colori figma */
$header-bg-color : rgba(30, 30, 30, 1);
$header-form-bg-color : rgba(52, 52, 52, 1);
$header-title-color : rgba(254, 254, 254, 1);
$header-span-color: rgba(176, 176, 176, 1);
/* Call to action colors - valid for CTA header & footer */
$CTA-bg-color: rgba(87, 82, 206, 1); 
$CTA-text-color:rgba(254, 254, 254, 1); 
$CTA-input-border-color: rgba(70, 70, 70, 1); 
$CTA-input-text-color: rgba(202, 202, 202, 1);
/* Main colors */
$section-title-color:rgba(54, 163, 254, 1);
$image_component-bg : rgba(255, 255, 255, 1);
$app_component-bg : rgba(251, 251, 251, 1);
$square-app-component-bg : rgba(244, 244, 244, 1);
$player_component-bg : rgba(15, 15, 15, 1);
$reference_component-bg : rgba(255, 255, 255, 1);
$reference_component-title-color : rgba(153, 153, 153, 1);
$reference_name-color : rgba(59, 76, 102, 1);
$reference_company-bg-color : rgba(244, 244, 244, 1);
/* Footer Color */
$footer-bg-color : rgba(30, 30, 30, 1);
$footer-title-color: rgba(254, 254, 254, 1);
$footer-form-bg-color : rgba(52, 52, 52, 1);
/*#endregion */

/*#region Containers Dimensions */

/* Dimensioni container - root component */
:root {
    --header_h: 830px;
    --header_w: 100%;
    --main_w: 100%;
    --image_component_w : 100%;
    --image_component_h : 875px;
    --app_component_w : 100%;
    --app_component_h : 1090px;
    --player_component_w : 100%;
    --player_component_h : 450px;  
    --reference_component_w : 100%;
    --reference_component_h : 680px;    
    --footer_w : 100%;
    --footer_h : 890px;
}

/**
* Mixin required for recalling the measures of the root element
* $width => Width of the container
* $height => Height of the container
* $background => Background Color
*/

@mixin ContentDimensions($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}

/* Header Components */
#site_header {
    @include ContentDimensions(var(--header_w), var(--header_h), $header-bg-color);
}

/* Sitemain components */
#site_main {
    @include ContentDimensions(var(--main_w), var(--main_h), transparent);
}
#image_component {
    @include ContentDimensions(var(--image_component_w), var(--image_component_h), $image_component-bg);
}
#app_component {
    @include ContentDimensions(var(--app_component_w), var(--app_component_h), $app_component-bg);
}
#player_component {
    @include ContentDimensions(var(--player_component_w), var(--player_component_h), $player_component-bg);
}
#reference_component {
    @include ContentDimensions(var(--reference_component_w), var(--reference_component_h), $reference_component-bg);
}

/* Footer Components */
#site_footer {
    @include ContentDimensions(var(--footer_w), var(--footer_h), $footer-bg-color);
}
/*#endregion */

/*#region Utilities */

/* Utilities classes */
.bordo {
    border: 2px solid black;
}
/* Fixed Heigth */
.h_85 {
    height: 85%;
}
.h_60{
    height: 60%;
}
/* Fixed Heigth - app component zone 1-2-3-4 */
.h_30 {
    height: 30%;
}
.h_40 {
    height: 40%;
}
.h_15 {
    height: 15%;
}

/* Fixed Width (Image Component) */
.w_32 {
    width: 32% !important;
}
.w_45 {
    width: 45% !important;
}
.w_60 {
    width: 60% !important;
}
.w_80 {
    width: 80% !important;
}

/**
* flexDispose => Mixin for display positioning
* $display => display flex
* $justify-content => Positioning along the horizontal axis
* $align-items => Positioning along the vertical axis
*/
@mixin flexDispose($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}


/* Flex center center */
.flex_cent {
    @include flexDispose(flex, center, center);
}

/* Flex between center */
.flex_bet {  
    @include flexDispose(flex, space-between, center);
}

/* Flex Center End */
.flex_end {
    @include flexDispose(flex, center, flex-end);
}

/* Flex Center Start */
.flex_start {
    @include flexDispose(flex, center, flex-start);
}


.benefit_zone {
    width: 32%;
    height: 100%;
    padding: 0;
    /* Flex direction */
    flex-direction: column;
    @include flexDispose(flex, space-between, center);
}

/*#endregion */