
/*#region Palette colori */

/* Palette colori figma */
$header-bg-color : rgba(30, 30, 30, 1);
$header-form-bg-color : rgba(52, 52, 52, 1);
$header-title-color : rgba(254, 254, 254, 1);
$header-span-color: rgba(176, 176, 176, 1);
$CTA-bg-color: rgba(87, 82, 206, 1); // valid for CTA header & footer
$CTA-text-color:rgba(254, 254, 254, 1); // valid for CTA header & footer
$image_component-bg : rgba(255, 255, 255, 1);
$app_component-bg : rgba(251, 251, 251, 1);
$player_component-bg : rgba(15, 15, 15, 1);
$reference_component-bg : rgba(255, 255, 255, 1);
/* Footer Color */
$footer-bg-color : rgba(30, 30, 30, 1);

/*#endregion */

/*#region Containers Dimensions */

/* Dimensioni container - root component */
:root {
    --header_h: 830px;
    --header_w: 100%;
    --main_w: 100%;
    --image_component_w : 100%;
    --image_component_h : 875px;
    --app_component_w : 100%;
    --app_component_h : 1090px;
    --player_component_w : 100%;
    --player_component_h : 450px;  
    --reference_component_w : 100%;
    --reference_component_h : 680px;    
    --footer_w : 100%;
    --footer_h : 890px;
}

/* Header Components */
#site_header {
    width: var(--header_w);
    height: var(--header_h);
    background-color: $header-bg-color;
}

/* Sitemain components */
#site_main {
    width: var(--main_w);
    height: var(--main_h);
    background-color: brown;
}
#image_component {
    width: var(--image_component_w);
    height: var(--image_component_h);    
    background-color: $image_component-bg;
}
#app_component {
    width: var(--app_component_w);
    height: var(--app_component_h);    
    background-color: $app_component-bg;
}
#player_component {
    width: var(--player_component_w);
    height: var(--player_component_h);    
    background-color: $player_component-bg;
}
#reference_component {
    width: var(--reference_component_w);
    height: var(--reference_component_h);    
    background-color: $reference_component-bg;
}

/* Footer Components */
#site_footer {
    width: var(--footer_w);
    height: var(--footer_h);
    background-color: $footer-bg-color;
}
/*#endregion */

/*#region Utilities */

/* Utilities classes */
.bordo {
    border: 2px solid black;
}
/* Fixed Heigth */
.h_85 {
    height: 85%;
}
.h_60{
    height: 60%;
}
/* Fixed Heigth - app component zone 1-2-3-4 */
.h_30 {
    height: 30%;
}
/* Fixed Width (Image Component) */
.w_32 {
    width: 32% !important;
}
.w_45 {
    width: 45% !important;
}



/* Background color for verify cont and row */
.bg_try {
    background-color: cyan;
}

.bg_altro {
    background-color: coral;
}


/* Flex center center */
.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Flex between center */
.flex_bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*#endregion */